* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

/* utility */


.flex-box {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.fas {
    font-size: 17px;
    margin-right: 5px;

}

/* fine utility */


/* inizio layout */

.layout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 150px;
    background-color: rgb(0, 0, 0);

}

.first-box {
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}


.text-icon {
    margin-top: 8px;
    font-size: 11px;
    color: white;
}


.text-icon2 {
    margin-top: 8px;
    font-size: 11px;
    color: gray;
}


.central-box {
    width: 100%;
    height: calc(100% - 230px);
    padding-left: 10px;
    padding-top: 10px;
    background-color: black;

}

.playlist {
    color: white;
}

.fa-plus-square {
    font-size: 30px;
}



.last-box {
    width: 100%;
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: black;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}

/* fine layout */


/* inizio main */


main {
    display: flex;
    height: calc(100vh - 60px);
    width: calc(100% - 150px);
    background-color: crimson;
}

.navbar {
    position: fixed;
    width: 1050px;
    height: 60px;
    background-color: cornsilk;
}



.container {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: coral;
}


/* fine main */




/* inizio footer */

footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(63, 63, 63);
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}